# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Temporary or Output Folders
runs/
uploads/
predicted_images/
cropped_digits/
static/output/
.ipynb_checkpoints/

# Models and weights (generally too large for github)
*.h5
*.keras
*.pt
*.chk

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints/
**/.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
